*{
   
    background:radial-gradient(130.32% 71.86% at 50% 49.96%, #0F0F0F 8.19%, rgba(16, 37, 25, 0.77) 49.52%, rgba(21, 112, 57, 0.00) 100%);
}
.header{
    color: #FFF;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    word-wrap: break-word;

}
.header-2{
    color: #FFF;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    word-wrap: break-word;
    transform: rotatey(-180deg);
    transform-origin: 0 0;
    
   

    
    
   }



