
body {
	background: linear-gradient(45deg,#111714, #13221A, #239C4F, #FFF1AA );
	background-size: 400% 400%;
	animation: gradient 8.5s ease infinite;
	height: 100vh;
}
button {
    background-color: hsl(0, 0%, 100%); /* Green */
    border: 3px solid #239C4F;
    color: #13221A;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family:'Montserrat', sans-serif; 
    font-size: 16px;
    position:absolute;
    top: 30px;
    right:80px;
    margin: 20px;
    margin-right:39px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 16px;
  }
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
img{
    width:400px;
    height:fit-content;
    padding-left: 50px;
    
}
h2{
    font-family: 'Montserrat', sans-serif;
    color:#ffffff;
    padding-left:10px;
    font-size: 24px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    color:#ffffff;
    padding-left:60px;
    padding-top: 20px;
    font-size: 20px;

}
ul{
    
    padding-left: 80px;
    color:#ffffff;
    width: 450px;
}

p{ font-family: 'Montserrat', sans-serif;
    color:#ffffff;
    padding-left:8px;

}
.flex-container {
    display: flex;
    flex-direction:row;
    padding:10px;
    padding-top: -5px;
    }
  
 
  .row2{
    padding-top:75px;
    width: 450px;
   
    }
 .row3{
        padding-top:75px;
        width: 450px;
        padding-left:80px;
       
        }

 /* unvisited link*/
a:link { color:#239C4F;
}
  
/*visited link*/
a:visited{
    color:#ffffff;
}
/*mouse over link*/
a:hover{
    color:#FFF1AA;
}

/*selected link*/
a:active {
    background-color:antiquewhite;
    color:darkred;
}
.exp{
    padding-top:20px;
    width: 1400px;
    padding-left: 50px;
}
   
  








